* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//bootstrap breakpoints 
$bp-mobile: 576px;
$bp-tablet: 768px;
$bp-laptop: 992px;
$bp-desktop: 1200px;
$bp-tv: 1400px;

$mobile-color: rgb(52, 86, 97);
$tablet-color:  rgb(61, 105, 119);
$laptop-color: rgb(64, 136, 160);
$desktop-color: rgb(74, 160, 189);
$tv-color: rgb(66, 195, 238);



body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

//max-width
//inside 0 - 768px styled are applied, outside they are not;.
@media (max-width: $bp-desktop) {
body{
  background-color: $desktop-color;
}
}
@media (max-width: $bp-laptop) {
  body{
    background-color: $laptop-color;
  }

}
@media (max-width: $bp-tablet) {
  body{
    background-color: $tablet-color;
  }

}
@media (max-width: $bp-mobile) {
  body{
    background-color: $mobile-color;
  }

}



//reverse mode! outside 768px, styled are applied, inside they are not
@media (min-width: 768px) {

}

