* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  background-color:black;
}

.container {
display: grid;
width: 100vw;
grid-template-rows: 100vh 70vh 70vh 90vh;
grid-template-columns:1fr repeat(12, 12rem) 1fr;
column-gap:.5rem;


    

.header{
        grid-column: 1 / -1;
        background-color: yellowgreen;
  
        
    }


  .about {
    grid-column: 2 / span 12;
    background-color: yellow;
  }

  .gallery {
    grid-column: 1 / -1;
    background-color: red;
  }

  .contact {
    grid-column: 2 / span 12;
    background-color: salmon;
  }

}
