header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero__container {
    

    .welcome{
        margin-left: 6rem;
    }

    .hero__title {
      padding: 5rem;
    }

    .first-part {
      color: var(--color-secondary);
    }
    .name {
      text-align: right;
      margin-right: 6rem;   
    }
  }
}
