.about {
  grid-column: 2 / span 10;
  background-color: yellowgreen; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none;
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

#main-container {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  background: #0e0e0e;
  background: linear-gradient(90deg, #0e0e0e 0%, #3d3d3d 100%);
  color: #dedddd;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh 70vh 100vh 100vh;
  grid-gap: 1rem; }

@media screen and (max-width: 1440px) {
  .container {
    background: salmon; } }

@media screen and (max-width: 600px) {
  .container {
    background: red; } }

@media screen and (max-width: 400px) {
  .container {
    background: black; } }

.btn {
  border: 1px solid #cb0b39;
  padding: 1rem 3rem;
  color: #dedddd;
  cursor: pointer;
  background: transparent;
  border-radius: .5rem; }

.header {
  grid-column: 2 / span 10; }
  .header .container .nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 8rem; }
    .header .container .nav .nav__items {
      width: 30rem;
      display: flex;
      justify-content: space-between; }
      .header .container .nav .nav__items .nav-item .nav-link {
        color: #dedddd;
        font-size: 1.6rem;
        font-weight: 500; }
    .header .container .nav .nav-contact .contact-icon {
      margin-left: 2rem; }
      .header .container .nav .nav-contact .contact-icon a {
        padding: 1rem; }
    .header .container .nav .nav-contact .btn {
      margin-left: 4rem; }

.portfolio {
  grid-column: 2 / span 10;
  background-color: violet; }

.contact {
  grid-column: 2 / span 10;
  background-color: salmon; }
